<div class="container">
  <div class="row">
    <header class="col-md-12">
      <h1 class="title-lg">Our Team</h1>
    </header>
  </div>

  <div class="row">
    <section class="col-xs-12">
      <h2 class="subtitle-lg">David Thomas, Founder</h2>
      <p>David founded D.A.Thomas Construction in Greenwich, Connecticut in 1994. He specialized in developing and building luxury homes that were energy efficient. In 2007, David opened a solar division and developed 4 megawatts of solar projects in New jersey. Then developed nine 30-90 acre solar farms in Massachusetts generating over 50 megawatts of solar power.</p>

      <p>In 2017, David recognized that the unanswered problem of families drinking water out of contaminated pipes in their own homes had reached a critical point. He started Lead Pipe Testing in 2017. David lives in Darien, Connecticut with his children. </p>

      <h2 class="subtitle-lg">Michael Ramsey, In-House Engineer</h2>
      <p>Michael brings to the team a background in environmental chemistry. He has BS degrees in Chemistry and Environmental Science, and has assessed water quality in a laboratory and engineering setting. This experience includes collecting, analyzing, and interpreting the results of water samples all based on EPA and CT DEEP standards and regulations. Based on his knowledge of the chemistry occurring in residential pipes, he recognizes the value Lead Pipe Testing brings to the community.</p>

      <h2 class="subtitle-lg">Luke Thomas, Platform Engineer</h2>
      <p>Luke is a software developer who specializes in building platforms that allow the public to access vital infrastructure data. His work with Lead Pipe Testing arises from the compelling evidence that residents of homes across the United States are unaware that their utility companies do not provide the proper level of transparency or service with regard to lead contamination.</p>
    </section>
  </div>
</div>