<!-- Start Hero -->
<div class="hero index-hero">
  <div class="hero-content">
    <div class="container-fluid">
      <div class="col-xs-12">
          <h1 class="title-lg">Lead Pipe Testing in CT and NY</h1>
      </div>
      <div class="col-md-8">
          <h2 class="subtitle-lg">Hundreds of thousands of homes in Connecticut, New York, and the Northeast have their drinking water delivered through contaminated lead pipes.</h2>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="hero-explanation">
          <div class="col-md-8">
            <p>The EPA and Robert Wood Johnson Foundation estimate there are as many as 5,000,000 homes in New England with Lead or Galvanized pipes that periodically contaminate residents' water. This exposes people to lead levels in drinking water above the EPA's recommended parts per billion.</p> 

            <p>Because this only happens when the pipes are agitated, it is difficult to test for dangerous pipes simply by sampling water.</p>

            <p>We specialize in testing the service pipes of homes built before 1986, the year when amendments to the <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2509614/">Safe Drinking Water Act</a> prohibited the installation of lead pipes nationwide.</p>

            <p>We will test the pipes that run from the street to your home, and the pipes in your home. We will tell you whether your pipes are lead-free by the EPA's current standards, most <a href="https://www.epa.gov/ground-water-and-drinking-water/basic-information-about-lead-drinking-water#regs" target="_blank">recently overhauled in 2011</a>.</p>

            <p>Utility companies in the region, such as Aquarion Water Company, have sent flyers <%= link_to "such as this one", utility_flyer_path, target: "_blank" %> to customers recommending they take responsibility for testing the water lines on their property.</p>
          </div>

          <div class="col-md-4">
            <%= image_tag "uc_davis_corroded_water_line.jpg", class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- End Hero -->


<div class="container-fluid">
  <a name="contact"></a>
  <div id="contact-us" class="col-xs-12 col-md-4 form">
    <h3 class="title-sm">Request a Free Consultation</h3>
    <form action="https://getsimpleform.com/messages?form_api_token={{ site.simpleform_token }}" method="post">
      <div class="form-group">
        <label class="control-label" for="name">Name</label>
        <input class="form-control" name="name" type="text"  required>
      </div>

      <div class="form-group">
        <label class="control-label" for="phone">Email</label>
        <input class ="form-control" name="email" type="email"  required>
      </div>

      <div class="form-group">
        <label class="control-label" for="phone">Phone</label>
        <input class ="form-control" name="phone" type="tel" >
      </div>


      <div class="form-group">
        <label class="control-label" for="comments">Message</label>
        <textarea class ="form-control" name="comments" ></textarea>
      </div>

      <input type="submit" class="btn btn-primary btn-lg btn-default" value="Send">
    </form>
  </div>
</div>
