<div class="container">
	<header class="container-fluid">
		<div class="col-xs-12">
			<h1 class="title-lg">Our Services</h1>
		</div>
	</header>

	<section class="container-fluid">
		<div class="col-xs-12">
			<p><%= FIRM_TITLE %> Has a several testing solution and can recommend solutions. Either we, or a contractor of your choice can give you price quotes for those solutions.</p> 

			<p>On the day of your appointment, we will dig a 3&ndash;4 foot hole in your yard in order to access your service line. We then take measurements and samples of your line and send them to our laboratory. We'll also access the pipes in your home, typically in the basement, to draw samples.</p>

			<p>After we have collected samples, we will fill in the hole and replace or re-seed your lawn. We'll scheduel a follow-up appointment to go over our findings.</p>

			<p>Once we have analyzed the composition of your service line and home pipes, we will get back to you with recommendations. If we find lead, usually the easiest solution is to run a new flexible water line to your sinks. In many most cases this is done from the basement without any wall damage or repairs.</p> 
		</div>
	</section>
</div>