<div class="container">
	<header class="container-fluid">
		<div class="col-xs-12">
			<h1 class="title-lg">Research on Lead Contamination</h1>
		</div>
	</header>

	<section class="container-fluid">
		<div class="col-xs-12">
			<p class="subtitle-md pull-quote">There are about 75 million homes across the country built before 1980, meaning they’re most likely to contain some lead plumbing. That's more than half of the country’s housing units, according to the Census Bureau. The heaviest concentrations are in New York, Rhode Island, Massachusetts, Connecticut and Pennsylvania.</p>
			<div class="citation">&ndash; <%= link_to "USA Today", "http://www.usatoday.com/story/news/2016/03/11/nearly-2000-water-systems-fail-lead-tests/81220466/" ,target: "_blank" %></div>

			<p class="subtitle-md pull-quote">Millions of Americans may be drinking water that is contaminated with dangerous doses of lead. The Environmental Protection Agency (EPA) knows it; state governments know it; local utilities know it. The only people who usually don’t know it are those who are actually drinking the toxic water.</p>
			<div class="citation">&ndash; <%= link_to "NBC News", "http://investigations.nbcnews.com/_news/2012/08/08/13179335-how-an-epa-project-backfired-endangering-drinking-water-with-lead" ,target: "_blank" %></div>

			<p class="subtitle-md pull-quote">If the health risks of partial LSL replacement were clarified, more homeowners would be inclined to pay for lead pipe replacement, or at least consider the option more seriously.</p>
			<div class="citation">&ndash; <%= link_to "Harvard Law School", "http://blogs.harvard.edu/billofhealth/2013/04/01/public-health-protection-under-the-epa-lead-and-copper-rule/" ,target: "_blank" %></div>

		</div>
	</section>
</div>