<div class="container">
	<header class="container-fluid">
		<div class="col-xs-12">
			<h1 class="title-lg">Research on Lead Contamination</h1>
		</div>
	</header>

	<section class="container-fluid">
		<div class="col-xs-12">
			<p class="subtitle-md pull-quote">Millions of Americans may be drinking water that is contaminated with dangerous doses of lead. The Environmental Protection Agency (EPA) knows it; state governments know it; local utilities know it. The only people who usually don’t know it are those who are actually drinking the toxic water.</p>
			<div class="citation">&ndash; <%= link_to "NBC News", "http://investigations.nbcnews.com/_news/2012/08/08/13179335-how-an-epa-project-backfired-endangering-drinking-water-with-lead" ,target: "_blank" %></div>

			<p class="subtitle-md pull-quote">On the day of your appointment, we will dig a 3&ndash;4 foot hole in your yard in order to access your service line. We then take measurements and samples of your line and send them to our laboratory. We'll also access the pipes in your home, typically in the basement, to draw samples.</p>

			<p class="subtitle-md pull-quote">After we have collected samples, we will fill in the hole and replace or re-seed your lawn. We'll scheduel a follow-up appointment to go over our findings.</p>

			<p class="subtitle-md pull-quote">Once we have analyzed the composition of your service line and home pipes, we will get back to you with recommendations. If we find lead, usually the easiest solution is to run a new flexible water line to your sinks. In many most cases this is done from the basement without any wall damage or repairs.</p> 
		</div>
	</section>
</div>