<div class="container">
	<header class="container-fluid">
		<h1 class="title-lg">Our Services</h1>
	</header>

	<section class="container-fluid">
		<p><%= FIRM_TITLE %> has several testing solutions. On the day of your appointment, we begin with a review of the the possible ways lead could get into the drinking water of your home, based on the specific traits of your house and property.</p> 

		<p>The cost to establish a total picture of the lead hazard on your property usually ranges from $200 to $1,600, depending on the variety of tests we need to administer.</p>

		<p>After we have completed all the tests, we will schedule a follow-up appointment to go over our findings. We will provide you with documentation of the specific results, and explain the implications of the results.</p>

		<p>Once you have a total picture of the situation on your property, we will offer advice on how best to remove any lead hazards. We are always happy to work with our clients' preferred plumber, or to provide all replacement services that may be needed on an à la carte basis.</p>
	</section>
</div>