<div class="container">
	<header class="container-fluid">
		<div class="col-xs-12">
			<h1 class="title-lg">Our Services</h1>
		</div>
	</header>

	<section class="container-fluid">
		<div class="col-xs-12">
			<p></p>
		</div>
	</section>
</div>

Residential Lead Water Pipe Testing Has a multi choice testing solution and can recommend solutions. Either we, or a contractor of your choice can give you price quotes for those solutions. 

We come and in one day dig a 3-4 foot hole in your front yard. We then view and take samples of your service pipe and send them to our laboratory.  We then fill in the hole and replace or re seed the lawn.  We will then make an appointment to go over our findings.
We come into your basement and test your pipe connections for the evidence of lead. 
We then get back to you with recommendations.  If we find lead usually the easiest solution is to run a new flexible water line to your sinks. In many most cases this is done from the basement without any wall damage or repairs.  