<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<h2 class="subtitle-lg" style="margin: 15px 0 20px;">Our scan of a utility company flyer, included in the back of a monthly bill, suggesting that residents may have lead in the lines delivering water to their homes:</h2>
		</div>
	</div>
	<%#= image_tag "aquarion_flyer.jpeg", class: "img-responsive" %>
	<%= image_tag "aquarion_flyer.jpg", class: "img-responsive" %>
</div>