//Atlas normalize section
figure {
  margin: 0 0 0 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

body {
	font-family: $font-family-sans;
	font-size: 18px;
	color: #333;
}

@media (min-width: $screen-md-min) {
  body {
    min-width: $container-md;
  }
}

p {
	font-family: $font-family-serif;
	margin: 0 0 1.4em;
	line-height: 1.4em;
}

a {
	color: $color-blue;
	&:hover, &:focus {
		color: #333;
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0 0;
}

h1 {
	font-weight: 700;
}

.title-lg {
	font-size: 72px;
	font-weight: 700;
}

.subtitle-lg {
	font-family: $font-family-sans;
  letter-spacing: .015em;
  font-size: 30px;
}

.subtitle-md {
	font-family: $font-family-sans;
  letter-spacing: .012em;
  font-size: 24px;
}

.hero-content {
	padding: 20px 0;
}

.title-sm {
	font-weight: 700;
	margin: 15px 0;
	font-size: 32px;
}

.btn-primary {
	background: $color-blue;
}

header {
	padding-top: 30px;
	padding-bottom: 20px;
}

.main-footer {
	background: $color-blue;
	color: #fff;
  padding: 15px 0;
  margin-top: 40px;
}

.pull-quote {
	margin-bottom: 0;
	&:before, &:after {
		font-weight: bold;
		font-style: 28px;
	}
	&:before {
		content: '“ ';
		color: $color-blue;
	}
	&:after {
		content: '” ';
		color: $color-blue;
	}
}
.citation {
	font-family: $font-family-sans;
  letter-spacing: .013em;
  font-size: 21px;
  font-weight: bold;	
  margin-bottom: 25px;
  margin-left: 20px;
}