//serif
@font-face {
	font-family: "NotoSerif";
	src: url("fonts/NotoSerif-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "NotoSerif";
	src: url("fonts/NotoSerif-Bold.ttf");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "NotoSerif";
	src: url("fonts/NotoSerif-BoldItalic.ttf");
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: "NotoSerif";
	src: url("fonts/NotoSerif-Italic.ttf");
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
}
//sans
@font-face {
	font-family: "NotoSans";
	src: url("fonts/NotoSans-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "NotoSans";
	src: url("fonts/NotoSans-Bold.ttf");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "NotoSans";
	src: url("fonts/NotoSans-BoldItalic.ttf");
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: "NotoSans";
	src: url("fonts/NotoSans-Italic.ttf");
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
}