$nav-content-height-md: 100px;
$nav-content-height-sm: 44px;


.navbar {
	font-size: 18px;
}

.navbar-homelink {
	@include display(flex);
	@include align-items(center);
	height: 100px;
  @include media-sm {
  	padding: 10px 0 0 10px;
  	height: $nav-content-height-sm;
  }
  color: $color-blue;
  font-weight: bold;
  &:hover, &:focus {
  	color: #333;
  	text-decoration: none;
  }
}

.nav-logo-img {
	height: $nav-content-height-md - 20px;
  width: auto;
  margin-right: 10px;
  @include media-sm {
  	height: $nav-content-height-sm;
  }
}

.logo-title {
  line-height: 30px;
}

.logo-title-lg {
  font-size: 32px;
  @include media-sm {
    font-size: 18px;
  }
}

.nav-link-list {
	@include media-md-lg {
		height: $nav-content-height-md;
		@include display(flex);
		@include align-items(center);			
	}
}

.nav-buffer {
	height: $nav-content-height-md;
	background: transparent;
	  @include media-sm {
  	height: $nav-content-height-sm + 15px;
  }
}