// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-hero {
	
	background-size: cover;
  $colorStart: rgba(0,0,0,0);
  $colorEnd: rgba(0,0,0,0.5);
  @include background-image(linear-gradient(to top, $colorStart, $colorEnd), asset_url('kitchen-sink.jpg'));
  background-position-x: 520px;
	h1, h2 {
		color: #fff;
	}
	@include media-sm {
		background-position-x: 0;
	}
}

.hero-explanation {
	background: #fff;
	margin-top: 10px;
	padding: 20px 40px;
	p:last-child {
		margin-bottom: 0;
	}
	@include media-sm {
    margin-top: 10px;
    padding: 20px 20px;
	}
	@include display(flex);
	@include align-items(center);
}

#contact-us {
	border-top: 1px solid rgba(#333, 0.3);
  padding-top: 10px;
  margin-top: 40px;
}